doctype html
html
  head
    meta(charset='utf-8')   
    meta(name='viewport', content='width=device-width')
    title Личный кабинет
  body
    div Пользователь: #{id}
    p Настройки
    div
      a(href="/logout") Выйти